@model List<FeatureViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hotels List</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var feature in Model)
                                {
                                    <tr>
                                        <td><strong>@feature.Text</strong></td>
                                        <td><img style="width: 150px; height: 150px;" src="~/img/features/@feature.Image" /></td>
                                        <td><a class="btn btn-success" asp-controller="Hotel" asp-action="Update" asp-route-id="@feature.Id">Update</a></td>
                                        <td><a class="btn btn-danger" asp-controller="Hotel" asp-action="Delete" asp-route-id="@feature.Id">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

