@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="hotel-app">
        <section class="login">
            <div class="container active" style="height: 800px;">
                <div class="user signupBox">
                    <div class="formBox">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <form method="post" enctype="multipart/form-data" asp-action="Register">
                            <h2>Hesab aç</h2>
                            <input asp-for="FullName" placeholder="Adınız və Soyadınız">
                            <span class="text-danger" asp-validation-for="FullName"></span>
                            <input asp-for="UserName" placeholder="İstifadəçi Adınız">
                            <span class="text-danger" asp-validation-for="UserName"></span>
                            <input asp-for="Email" placeholder="E-mail Adresiniz">
                            <span class="text-danger" asp-validation-for="Email"></span>
                            <input asp-for="Password" placeholder="Şifrə">
                            <span class="text-danger" asp-validation-for="Password"></span>
                            <input asp-for="ConfirmPassword" placeholder="Şifrə (təkrar)">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            <div class="form-group">
                                <label asp-for="Image">Image</label>
                                <input style="height:46px;" class="form-control" asp-for="Image" accept="image/*">
                                <span class="text-danger" asp-validation-for="Image"></span>
                            </div>
                            <input type="submit" value="Qeydiyyatdan keç" style="max-width: 200px;">
                            <p class="signup">Giriş ekranına <a asp-action="Login">geri qayıt</a></p>
                        </form>
                    </div>
                    <div class="imgBox"><img src="~/img/rooms/1.jpg" alt=""></div>
                </div>
            </div>
        </section>

    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    @*<script>*@


    @*//function toggleForm() {
        //    section = document.querySelector('section');
        //    container = document.querySelector('.container');
        //    container.classList.toggle('active');
        //    section.classList.toggle('active');
        //}*@


    @*</script>*@
    <script src="~/js/plugins/jquery.min.js"></script>
    @*<script src="~/js/plugins/lozad.js"></script>*@
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    @*<script>
        const observer = lozad();
        observer.observe();
    </script>*@
    <!-- bootstrap js -->
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <!-- nice select js -->

    <script src="~/js/plugins/jquery.nice-select.min.js"></script>
    <!-- datepicker js -->
    <script src="~/js/plugins/datepicker.js"></script>
    <!-- smooth scroll js -->
    <script src="~/js/plugins/smooth-scroll.js"></script>
    <!-- isotope js -->
    <script src="~/js/plugins/isotope.min.js"></script>
    <!-- mapbox js -->
    <script src="~/js/plugins/mapbox.min.js"></script>
    <!-- fancybox js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.min.js"></script>
    <script src="~/js/plugins/fancybox.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/plugins/swiper.min.js"></script>
    <!-- sticky js -->
    <script src="~/js/plugins/sticky.js"></script>
    <!-- kinsley js -->
    <script src="~/js/main.js"></script>
</body>
</html>
