@*@model Layout

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <img src="~/img/@Model.Logo" class="mb-5" />
            <br />
            <i class="fab fa-linkedin me-2" style="display: inline-block; font-size: 40px; color: #0e76a8"></i><h4 class="card-title" style="display: inline-block"><a style="text-decoration: none" href="@Model.LinkedInURL">@Model.LinkedInURL</a></h4>
            <br />
            <i class="fab fa-facebook-square me-2 mt-2" style="display: inline-block; font-size: 40px; color: #3b5998"></i><h4 class="card-title" style="display: inline-block"><a style="text-decoration: none" href="@Model.FacebookURL">@Model.FacebookURL</a></h4>
        </div>
    </div>
</div>*@

